button:hover,
#fullDetailsBtn:hover {
  background-color: rgb(151, 151, 151);
  transition-delay: .2s;
}

/*****************

Nav Bar

*******************/

#nav {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
}

#menuLocator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

#navLocator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 10px;
}

#rioLogo {
  height: 40px;
  width: auto;
  padding: 10px;
}

#truckCount {
  margin-left: 5%;
  font-weight: 300;
  margin-top: 0;
}

/************************

Page Content

*************************/

#listMapContainer {
  display: grid;
  height: 80vh;
  width: 90%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  position: relative;
  margin: 0 5% 0 5%;
}

#truckListContainer::-webkit-scrollbar {
  display: none;
}

#truckListContainer {
  overflow: scroll;
  overflow-y: none;
  width: stretch;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border-style: solid;
  border-color: rgb(235, 232, 232);
}

#truckCard {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  height: 40vh;
  width: auto;
  margin: 4%;
  border-style: solid;
  border-color: rgb(219, 214, 214);
  box-shadow: 1px 1px 5px 1px #d3d3d3;
}

#mapPlaceholder {
  display: flex;
  height: stretch;
  width: 100%;
  background-color: rgb(216, 216, 216);
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#mapContainer {
  display: grid;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

#googleMap {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 100;
}

/************************

TRUCK LOCATION CARD

*************************/

.truckCardInfo {
  grid-column-start: 2;
  grid-column-end: 19;
}
#truckName {
  grid-row-start: 1;
}

#truckAddress {
  grid-row-start: 4;
}

#truckLocation {
  grid-row-start: 6;
}

#truckDayClose {
  grid-row-start: 9;
  color: rgb(64, 199, 64);
}

#truckNumber {
  display: flex;
  align-items: center;
  grid-row-start: 13;
}

.truckCardBtn {
  background-color: rgb(68, 68, 68);
  color: white;
  border: none;
  border-radius: 5px;
}

#truckCardBtnContainer {
  display: flex;
  justify-content: space-between;
  grid-row-start: 16;
  grid-row-end: 19;
  grid-column-start: 2;
  grid-column-end: 20;
}

#truckDirections,
#truckMoreInfo {
  width: 45%;
}

#fullDetailsBtn {
  background-color: rgb(68, 68, 68);
  color: white;
  border: none;
  border-radius: 10px;
}

#phoneIcon {
  margin-right: 1%;
}

/********************

More Info Modal

********************/

#moreInfoModal {
  display: flex;
  background-color: rgba(27, 26, 26, 0.233);
  height: 80vh;
  width: stretch;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  align-items: center;
  justify-content: center;
}

#modalContent {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(40, 2.5%);
  height: 75vh;
  width: 90%;
  background-color: white;
}

#xMark {
  height: 15px;
  grid-column-start: 20;
  grid-row-start: 1;
  padding-top: 5px;
}

#landscape {
  height: stretch;
  width: stretch;
  grid-column-start: 2;
  grid-column-end: 20;
  grid-row-start: 3;
  grid-row-end: 14;
}

#modalTruckName {
  grid-row-start: 14;
  grid-column-start: 2;
  grid-column-end: 19;
}

#modalTruckAddress {
  grid-row-start: 16;
  grid-column-start: 2;
  grid-column-end: 18;
}

#modalTruckCity {
  grid-row-start: 17;
  grid-column-start: 2;
  grid-column-end: 18;
}

#modalTruckNum {
  display: flex;
  align-items: center;
  grid-row-start: 21;
  grid-column-start: 2;
  grid-column-end: 10;
  color: orange;
}

#truckNum {
  margin-left: 2%;
}

#modalTruckDirections {
  display: flex;
  align-items: center;
  grid-row-start: 21;
  grid-column-start: 10;
  grid-column-end: 20;
  color: orange;
}

#directions {
  margin-left: 2%;
}

#modalDayHoursBox {
  display: flex;
  height: stretch;
  width: stretch;
  grid-row-start: 23;
  grid-row-end: 35;
  grid-column-start: 2;
  grid-column-end: 20;
  color: rgb(104, 104, 104);
}

#modalDayBox,
#modalHourBox {
  height: stretch;
  width: stretch;
}

#days,
#hours {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
}


#fullDetailsBtn {
  height: stretch;
  width: stretch;
  grid-row-start: 38;
  grid-row-end: 40;
  grid-column-start: 2;
  grid-column-end: 20;
}

/*************************

Mobile View configurations

***************************/

#phoneNav {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(73, 73, 73);
  height: 5vh;
  width: 100%;
}

#hamburger,
#rioLogoMobile,
#mobileLocation {
  height: 70%;
  width: auto;
  margin: 2%;
}

#mobileContent {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  overflow: scroll;
  height: 90vh;
  width: 100%;
}

#mobileFooter {
  display: flex;
  height: 5vh;
  width: 100%;
}

#listBtn,
#mapBtn {
  background-color: white;
  border: none;
  color: orange;
  font-size: 17px;
  width: 50%
}
