#listMapContainer {
  display: flex;
  height: 80vh;
  width: 70%;
  margin: 0 15% 0 15%;
}

#truckListContainer {
  overflow: scroll;
  overflow-y: none;
  width: 100%;
}

#truckCard {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  height: 30vh;
  width: auto;
  margin-bottom: 50px;
  border-style: double;
}

#truckCardBtnContainer {
  display: flex;
  justify-content: space-around;
  grid-row-start: 9;
  grid-column-start: 1;
  grid-column-end: 11;
}

#mapPlaceholder {
  display: flex;
  height: 80vh;
  width: 100%;
  background-color: rgb(216, 216, 216);
  align-items: center;
  justify-content: center;
}

/************************

TRUCK LOCATION CARD

*************************/

.truckCardInfo {
  grid-column-start: 1;
  grid-column-end: 8;
}
#truckName {
  grid-row-start: 1;
}

#truckAddress {
  grid-row-start: 3;
}

#truckLocation {
  grid-row-start: 4;
}

#truckDayClose {
  grid-row-start: 6;
}

#truckNumber {
  grid-row-start: 7;
}

.truckCardBtn {
  height: 35px;
  width: 200px;
  background-color: rgb(68, 68, 68);
  color: white;
  border: none;
  border-radius: 10px;
}

#truckMoreInfo {
  /* grid-column-start: 5; */
}
